@charset "utf-8";
/* CSS Document */
body{font-family:Verdana, Geneva, sans-serif; font-size:12px; color:#666;}

.hover { background-color: #106166; color: #fff; cursor:pointer; }
.page{ margin:5px;}


tbody tr:nth-of-type(even){
background:rgba(179,216,179,0.5);
}

tbody tr:nth-of-type(odd){
background:rgba(222,240,222,0.5);
}
thead th{
background:rgba(28,157,162,0.5);
}